@import "@starlights/ui/styles.css";

@layer utilities {
  .debug {
    outline: 2px dashed var(--color-starlights-debug);
  }
  .debug-yellow {
    outline: 2px dashed var(--color-yellow-600);
  }
  .dev {
    outline: 2px dashed var(--color-starlights-development);
  }
}
