:root {
  --starlights-purple-50: oklch(0.98 0.003 280);
  --starlights-purple-100: oklch(0.95 0.008 280);
  --starlights-purple-200: oklch(0.9 0.018 281);
  --starlights-purple-300: oklch(0.82 0.035 282.5);
  --starlights-purple-400: oklch(0.72 0.06 283.5);
  --starlights-purple-500: oklch(0.62 0.09 284);
  --starlights-purple-600: oklch(0.52 0.11 284.5);
  --starlights-purple-700: oklch(0.43 0.105 285);
  --starlights-purple-800: oklch(0.35 0.085 286);
  --starlights-purple-900: oklch(0.28 0.06 287);
  --starlights-purple-950: oklch(0.2 0.035 288);
  --starlights-purple-1000: oklch(0.15 0.018 289);

  --starlights-red-50: oklch(0.98 0.003 380);
  --starlights-red-100: oklch(0.95 0.008 380);
  --starlights-red-200: oklch(0.9 0.018 380);
  --starlights-red-300: oklch(0.82 0.035 380);
  --starlights-red-400: oklch(0.72 0.06 380);
  --starlights-red-500: oklch(0.62 0.09 380);
  --starlights-red-600: oklch(0.52 0.11 380);
  --starlights-red-700: oklch(0.43 0.105 380);
  --starlights-red-800: oklch(0.35 0.085 380);
  --starlights-red-900: oklch(0.28 0.06 380);
  --starlights-red-950: oklch(0.2 0.035 380);
  --starlights-red-1000: oklch(0.15 0.018 380);

  --starlights-pink-50: oklch(0.98 0.003 322);
  --starlights-pink-100: oklch(0.95 0.008 322);
  --starlights-pink-200: oklch(0.9 0.018 323);
  --starlights-pink-300: oklch(0.82 0.035 324.5);
  --starlights-pink-400: oklch(0.72 0.06 325.5);
  --starlights-pink-500: oklch(0.62 0.09 326);
  --starlights-pink-600: oklch(0.52 0.11 326.5);
  --starlights-pink-700: oklch(0.43 0.105 327);
  --starlights-pink-800: oklch(0.35 0.085 328);
  --starlights-pink-900: oklch(0.28 0.06 329);
  --starlights-pink-950: oklch(0.2 0.035 330);
  --starlights-pink-1000: oklch(0.15 0.018 331);

  --starlights-cyan-50: oklch(0.98 0.003 180);
  --starlights-cyan-100: oklch(0.95 0.008 180);
  --starlights-cyan-200: oklch(0.9 0.018 181);
  --starlights-cyan-300: oklch(0.82 0.035 182.5);
  --starlights-cyan-400: oklch(0.72 0.06 183.5);
  --starlights-cyan-500: oklch(0.62 0.09 184);
  --starlights-cyan-600: oklch(0.52 0.11 184.5);
  --starlights-cyan-700: oklch(0.43 0.105 185);
  --starlights-cyan-800: oklch(0.35 0.085 186);
  --starlights-cyan-900: oklch(0.28 0.06 187);
  --starlights-cyan-950: oklch(0.2 0.035 188);
  --starlights-cyan-1000: oklch(0.15 0.018 189);

  --starlights-indigo-50: oklch(0.98 0.003 260);
  --starlights-indigo-100: oklch(0.95 0.008 260);
  --starlights-indigo-200: oklch(0.9 0.018 261);
  --starlights-indigo-300: oklch(0.82 0.035 262.5);
  --starlights-indigo-400: oklch(0.72 0.06 263.5);
  --starlights-indigo-500: oklch(0.62 0.09 264);
  --starlights-indigo-600: oklch(0.52 0.11 264.5);
  --starlights-indigo-700: oklch(0.43 0.105 265);
  --starlights-indigo-800: oklch(0.35 0.085 266);
  --starlights-indigo-900: oklch(0.28 0.06 267);
  --starlights-indigo-950: oklch(0.2 0.035 268);
  --starlights-indigo-1000: oklch(0.15 0.018 269);

  --starlights-green-50: oklch(0.98 0.003 150);
  --starlights-green-100: oklch(0.95 0.008 151);
  --starlights-green-200: oklch(0.9 0.018 152);
  --starlights-green-300: oklch(0.82 0.035 153.5);
  --starlights-green-400: oklch(0.72 0.06 154.5);
  --starlights-green-500: oklch(0.62 0.09 155);
  --starlights-green-600: oklch(0.52 0.11 155.5);
  --starlights-green-700: oklch(0.43 0.105 156);
  --starlights-green-800: oklch(0.35 0.085 157);
  --starlights-green-900: oklch(0.28 0.06 158);
  --starlights-green-950: oklch(0.2 0.035 158.5);
  --starlights-green-1000: oklch(0.15 0.018 159);

  /* #ffa032 */

  --starlights-yellow-50: oklch(0.985 0.003 64);
  --starlights-yellow-100: oklch(0.966 0.008 64);
  --starlights-yellow-200: oklch(0.922 0.018 64);
  --starlights-yellow-300: oklch(0.872 0.035 64.5);
  --starlights-yellow-400: oklch(0.78 0.06 64.5);
  --starlights-yellow-500: oklch(0.68 0.12 64.5);
  --starlights-yellow-600: oklch(0.785 0.162 64);
  --starlights-yellow-700: oklch(0.48 0.14 64);
  --starlights-yellow-800: oklch(0.36 0.11 64);
  --starlights-yellow-900: oklch(0.24 0.08 64);
  --starlights-yellow-950: oklch(0.14 0.045 64);
  --starlights-yellow-1000: oklch(0.09 0.02 64);

  --starlights-debug: oklch(0.36 0.185 380);
}

@theme inline {
  --color-starlights-purple-50: var(--starlights-purple-50);
  --color-starlights-purple-100: var(--starlights-purple-100);
  --color-starlights-purple-200: var(--starlights-purple-200);
  --color-starlights-purple-300: var(--starlights-purple-300);
  --color-starlights-purple-400: var(--starlights-purple-400);
  --color-starlights-purple-500: var(--starlights-purple-500);
  --color-starlights-purple-600: var(--starlights-purple-600);
  --color-starlights-purple-700: var(--starlights-purple-700);
  --color-starlights-purple-800: var(--starlights-purple-800);
  --color-starlights-purple-900: var(--starlights-purple-900);
  --color-starlights-purple-950: var(--starlights-purple-950);
  --color-starlights-purple-1000: var(--starlights-purple-1000);

  --color-starlights-red-50: var(--starlights-red-50);
  --color-starlights-red-100: var(--starlights-red-100);
  --color-starlights-red-200: var(--starlights-red-200);
  --color-starlights-red-300: var(--starlights-red-300);
  --color-starlights-red-400: var(--starlights-red-400);
  --color-starlights-red-500: var(--starlights-red-500);
  --color-starlights-red-600: var(--starlights-red-600);
  --color-starlights-red-700: var(--starlights-red-700);
  --color-starlights-red-800: var(--starlights-red-800);
  --color-starlights-red-900: var(--starlights-red-900);
  --color-starlights-red-950: var(--starlights-red-950);
  --color-starlights-red-1000: var(--starlights-red-1000);

  --color-starlights-pink-50: var(--starlights-pink-50);
  --color-starlights-pink-100: var(--starlights-pink-100);
  --color-starlights-pink-200: var(--starlights-pink-200);
  --color-starlights-pink-300: var(--starlights-pink-300);
  --color-starlights-pink-400: var(--starlights-pink-400);
  --color-starlights-pink-500: var(--starlights-pink-500);
  --color-starlights-pink-600: var(--starlights-pink-600);
  --color-starlights-pink-700: var(--starlights-pink-700);
  --color-starlights-pink-800: var(--starlights-pink-800);
  --color-starlights-pink-900: var(--starlights-pink-900);
  --color-starlights-pink-950: var(--starlights-pink-950);
  --color-starlights-pink-1000: var(--starlights-pink-1000);

  --color-starlights-cyan-50: var(--starlights-cyan-50);
  --color-starlights-cyan-100: var(--starlights-cyan-100);
  --color-starlights-cyan-200: var(--starlights-cyan-200);
  --color-starlights-cyan-300: var(--starlights-cyan-300);
  --color-starlights-cyan-400: var(--starlights-cyan-400);
  --color-starlights-cyan-500: var(--starlights-cyan-500);
  --color-starlights-cyan-600: var(--starlights-cyan-600);
  --color-starlights-cyan-700: var(--starlights-cyan-700);
  --color-starlights-cyan-800: var(--starlights-cyan-800);
  --color-starlights-cyan-900: var(--starlights-cyan-900);
  --color-starlights-cyan-950: var(--starlights-cyan-950);
  --color-starlights-cyan-1000: var(--starlights-cyan-1000);

  --color-starlights-indigo-50: var(--starlights-indigo-50);
  --color-starlights-indigo-100: var(--starlights-indigo-100);
  --color-starlights-indigo-200: var(--starlights-indigo-200);
  --color-starlights-indigo-300: var(--starlights-indigo-300);
  --color-starlights-indigo-400: var(--starlights-indigo-400);
  --color-starlights-indigo-500: var(--starlights-indigo-500);
  --color-starlights-indigo-600: var(--starlights-indigo-600);
  --color-starlights-indigo-700: var(--starlights-indigo-700);
  --color-starlights-indigo-800: var(--starlights-indigo-800);
  --color-starlights-indigo-900: var(--starlights-indigo-900);
  --color-starlights-indigo-950: var(--starlights-indigo-950);
  --color-starlights-indigo-1000: var(--starlights-indigo-1000);

  --color-starlights-green-50: var(--starlights-green-50);
  --color-starlights-green-100: var(--starlights-green-100);
  --color-starlights-green-200: var(--starlights-green-200);
  --color-starlights-green-300: var(--starlights-green-300);
  --color-starlights-green-400: var(--starlights-green-400);
  --color-starlights-green-500: var(--starlights-green-500);
  --color-starlights-green-600: var(--starlights-green-600);
  --color-starlights-green-700: var(--starlights-green-700);
  --color-starlights-green-800: var(--starlights-green-800);
  --color-starlights-green-900: var(--starlights-green-900);
  --color-starlights-green-950: var(--starlights-green-950);
  --color-starlights-green-1000: var(--starlights-green-1000);

  --color-starlights-yellow-50: var(--starlights-yellow-50);
  --color-starlights-yellow-100: var(--starlights-yellow-100);
  --color-starlights-yellow-200: var(--starlights-yellow-200);
  --color-starlights-yellow-300: var(--starlights-yellow-300);
  --color-starlights-yellow-400: var(--starlights-yellow-400);
  --color-starlights-yellow-500: var(--starlights-yellow-500);
  --color-starlights-yellow-600: var(--starlights-yellow-600);
  --color-starlights-yellow-700: var(--starlights-yellow-700);
  --color-starlights-yellow-800: var(--starlights-yellow-800);
  --color-starlights-yellow-900: var(--starlights-yellow-900);
  --color-starlights-yellow-950: var(--starlights-yellow-950);
  --color-starlights-yellow-1000: var(--starlights-yellow-1000);

  /* --color-starlights-gold-600: var(--starlights-yellow-600); */
  --color-starlights-development: var(--starlights-purple-700);
  --color-starlights-debug: var(--starlights-debug);
}
